scipy
plotly
ipykernel
duckdb
faiss-cpu
nomkl
sqlparse
seaborn
matplotlib
gensim==4.3.3
scikit-learn==1.5.1
numpy==1.26.4
pandas==2.2.2
tqdm==4.66.5
networkx==3.3
ipywidgets
jinja2
matplotlib2tikz
tikzplotlib
torch
torch-hd
ijson
pyyaml